@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
html{
    font-size: 62.5%;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background: hsl(228, 33%, 97%);
}
.hide{
    display: none;
}
main{
    display: grid;
    justify-items: center;
    width: 100vw;
    gap: 2rem;
    padding: 5rem 0;
}
#addComnt{
    width: 50%;
}
.addComnt{
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: auto auto;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background: hsl(0, 0%, 100%);
}
.currentUser img{
    width: 4rem;
    padding: .5rem 0 ;
}
.updateComnt{
    grid-column: 2 / span 3;
    grid-row: 2;
}
.newComnt, .updateComnt{
    outline: none;
    width: 100%;
    height: 10rem;
    resize: none;
    border: 0.1rem solid hsl(223, 19%, 93%);
    color: hsl(211, 10%, 45%);
    padding: 1.5rem  2rem;
    font-size: 1.5rem;
    border-radius: .7rem;
}
.newComnt{
    grid-column: 2;
    grid-row: 1 / span 2;
}
.send{
    font-size: 1.6rem;
    color: hsl(0, 0%, 100%);
    background: hsl(238, 40%, 52%);
    border-radius: .7rem;
    border: none;
    outline: none;
    grid-column: 3;
    padding: 1.5rem 2.5rem;
    font-weight: 500;
    cursor: pointer;
}
#comnt {
    width: 50%;
    align-content: start;
}
.comntDiv, #comnt{
    display: grid;
    gap: 2rem;
}
.comment{
    display: grid;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background: hsl(0, 0%, 100%);
    grid-template-columns: max-content auto auto auto;
    grid-template-rows: auto auto auto;
}
.voter{
    grid-row: 1 / span 2;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    background: hsl(228, 33%, 97%);
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    gap: 1.5rem;
}
.voter span{
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}
.voter svg{
    cursor: pointer;
}
.comment p{
    font-size: 1.6rem;
    padding-right: 1rem;
    line-height: 2.25rem;
    color: hsl(211, 10%, 45%);
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
}
.replyTo{
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}
.comntDetail{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    grid-column: 2 / span 2;
}
.comntDetail img{
    width: 3rem;
}
.comntDetail h3{
    font-size: 1.6rem;
    font-weight: 500;
    color: hsl(212, 24%, 26%);
}
.comntDetail span{
    font-size: 1.5rem;
    color: hsl(211, 10%, 45%);
}
.comntDetail button{
    font-size: 1.4rem;
    background: hsl(238, 40%, 52%);
    color: hsl(0, 0%, 100%);
    border-radius: .25rem;
    outline: none;
    border: none;
    font-weight: 500;
    padding: .3rem .9rem;
}
.replyBtn, .delBtn, .editBtn{
    display: flex;
    align-items: center;
    justify-self: end;
    cursor: pointer;
    gap: 1rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}
.customize{
    display: flex;
    gap: 2rem;
    justify-self: end;
}
.delBtn{
    color: hsl(358, 79%, 66%);
}
.editBtn{
    color: hsl(238, 40%, 52%);
}
.update{
    justify-self: end;
    grid-column: 4;
}
.replyComnt{
    border-left: .2rem solid hsl(223, 19%, 93%);
    margin-left: 4rem;
    padding-left: 4rem;
    display: grid;
    gap: 2rem;
}
.replyBtn:hover svg>path, .replyBtn:hover span, .editBtn:hover svg>path, .editBtn:hover span{
    fill: hsl(239, 57%, 85%);
    color: hsl(239, 57%, 85%);
}
.delBtn:hover svg>path, .delBtn:hover span{
    fill: hsl(357, 100%, 86%);
    color: hsl(357, 100%, 86%);
}
.send:hover{
    background: hsl(239, 57%, 85%);
}
.voter svg>path:hover{
    fill: hsl(238, 40%, 52%);
}
.newComnt:focus, .updateComnt:focus{
    border: .1rem solid hsl(212, 24%, 26%);
}
.delModal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    display: none;
    place-items: center;
}
.choice{
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 3.5rem;
    display: grid;
    gap: 2rem;
    width: 30%;
}
.choice h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: hsl(212, 24%, 26%);
}
.choice p{
    color: hsl(211, 10%, 45%);
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-right: 1rem;
}
.choiceBtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
.yes, .no{
    color: hsl(0, 0%, 100%);
    font-size: 1.7rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1.5rem 2.5rem;
    font-weight: 400;
    cursor: pointer;
}
.yes{
    background: hsl(358, 79%, 66%);
}
.no{
    background: hsl(211, 10%, 45%);
}
.yes:hover{
    background: hsl(357, 100%, 86%);
}
.no:hover{
    background: hsl(239, 57%, 85%);
}
@media (max-width :1000px) {
    html{
        font-size: 55%;
    }
    #addComnt {
        width: 60%;
    }
    .addComnt{
        gap: 1rem;
        padding: 1.5rem;
    }
    .currentUser img{
        width: 3.5rem;
    }
    .newComnt, .updateComnt{
        height: 8rem;
        padding: .5rem  1rem;
        font-size: 1.4rem;
    }
    .send{
        font-size: 1.5rem;
        padding: 1.25rem 2.25rem;
    }
    .comntDiv, #comnt{
        gap: 1.5rem;
    }
    #comnt {
        width: 60%;
    }
    .comment{
        gap: 1rem;
        padding: 1.5rem;
    }
    .comntDetail img{
        width: 2.5rem;
    }
    .comntDetail h3{
        font-size: 1.5rem;
    }
    .comntDetail span{
        font-size: 1.4rem;
    }
    .replyBtn, .delBtn, .editBtn{
        font-size: 1.6rem;
    }
    .customize{
        gap: 1rem;
    }
    .replyComnt{
        margin-left: 3rem;
        padding-left: 3rem;
        gap: 1rem;
    }
    .choice{
        padding: 2.5rem;
        width: 40%;
    }
    .choiceBtn{
        justify-content: space-around;
    }
    .yes, .no{
        font-size: 1.6rem;
    }
}
@media (max-width :768px){
    html{
        font-size: 50%;
    }
}
@media (max-width :500px){
    main{
        padding: 3rem 0;
    }
    #addComnt {
        width: 75%;
    }
    .currentUser img {
        width: 3rem;
    }
    .send{
        padding: 1rem 2rem;
    }
    #comnt{
        width: 75%;
    }
    .voter{
        padding: 1rem;
        gap: 1.25rem;
        font-size: 1.5rem;
    }
    .comntDetail{
        gap: 1rem;
    }
    .comntDetail span{
        font-size: 1.3rem;
    }
    .replyBtn, .delBtn, .editBtn{
        gap: .7rem;
        font-size: 1.5rem;
    }
    .comntDetail button{
        font-size: 1.3rem;
        padding: .3rem .7rem;
    }
    .send{
        font-size: 1.4rem;
    }
    .choice{
        width: 65%;
    }
}
@media (max-width:430px){
    html{
        font-size: 58%;
    }
    #addComnt {
        width: 90%;
    }
    .addComnt{
        gap: 2rem;
    }
    .currentUser{
        grid-row: 2;
    }
    .currentUser img{
        width: 3.5rem;
    }
    .newComnt {
        grid-column: 1 / span 3;
        grid-row: 1;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        height: 10rem;
    }
    .send{
        font-size: 1.7rem;
        padding: 1rem;
        font-weight: 400;
    }
    #comnt{
        width: 90%;
        gap: 2rem;
    }
    .comntDiv{
        gap: 2rem;
    }
    .comment{
        gap: 1.5rem;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }
    .voter{
        grid-row: 3;
        display: flex;
        font-size: 1.6rem;
        gap: 2rem;
        width: fit-content;
    }
    .replyBtn, .delBtn, .editBtn{
        grid-row: 3;
        gap: 1rem;
        font-size: 1.7rem;
    }
    .comntDetail{
        grid-row: 1;
        grid-column: 1/ span 2;
    }
    .comntDetail img{
        width: 3.5rem;
    }
    .comment p{
        grid-column: 1 / span 2;
        grid-row: 2;
        font-size: 1.7rem;
    }
    .comntDetail h3 {
        font-size: 1.7rem;
    }
    .comntDetail span {
        font-size: 1.5rem;
    }
    .replyComnt {
        margin: 0;
        padding-left: 2rem;
    }
    .updateComnt {
        grid-column: 1 / span 3;
        font-size: 1.6rem;
    }
    .update {
        grid-column: 3;
        grid-row: 3;
    }
    .customize {
        grid-row: 3;
        grid-column: 2;
    }
    .choice{
        width: 90%;
        gap: 1.5rem;
    }
    .choice p{
        font-size: 1.7rem;
    }
    .choiceBtn{
        justify-content: center;
    }
    .yes, .no {
        font-size: 1.7rem;
        font-weight: 500;
    }
}
@media (max-width:380px){
    html{
        font-size: 53%;
    }
}